<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>

        <div id="app" class="container">
            <form>
                <div class="form-group">
                    <label for="nome">Nome completo</label>
                    <input v-model="usuario.nome" type="text" class="form-control" id="nome" placeholder="Nome">
                </div>
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input v-model="usuario.cpf" type="text" class="form-control" id="cpf" placeholder="XXX.XXX.XXX-XX">
                </div>
                <div class="form-group">
                    <label for="celular">Celular</label>
                    <input v-model="usuario.celular" type="text" class="form-control" id="celular" placeholder="(XX) XXXXX-XXXX">
                </div>
                <div class="form-group">
                    <label for="dt-nascimento">Data de Nascimento</label>
                    <input v-model="usuario.dataNascimento" type="text" class="form-control" id="dt-nascimento" placeholder=" XX/XX/XXXX">
                </div>
                <button v-on:click="salvar" id="btn-salvar" class="btn btn-primary">Salvar</button>
            </form>


            <form>
                <div class="form-group">
                    <input v-model="search" type="text" class="form-control" id="input-search" placeholder="Busca por nome">
                </div>
                <button v-on:click="buscarPorNome" class="btn btn-primary">Buscar</button>
            </form>

            <table id="tabela-usuarios" class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF:</th>
                        <th scope="col">Celular:</th>
                        <th scope="col">Data de nascimento:</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="usuario in usuarios" :key="usuario.id">
                        <td id="nome-buscado">{{ usuario.nome }}</td>
                        <td id="cpf-salvo">{{ usuario.cpf }}</td>
                        <td id="celular-salvo">{{ usuario.celular }}</td>
                        <td id="data-salva">{{ usuario.dataNascimento }}</td>
                    </tr>
                </tbody>
            </table>

            <button v-on:click="excluirTodosUsuarios" class="btn btn-danger">Excluir todos os usuários</button>
        </div>



        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="main.js"></script>
    </body>
</html>